@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans-semi";
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-bold";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Poppins-Semibold";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

.header {
  background-color: #008aff;
  height: 100vh;
  border-bottom-left-radius: 300px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  overflow: hidden; }
  .header__wrapper {
    max-width: 1146px;
    margin: 0 auto;
    padding: 20px; }

.header-block {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins-Semibold", sans-serif;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }

.header-introduction {
  height: 355px;
  width: 490px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px; }
  .header-introduction__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    margin: 0 0 32px; }
  .header-introduction__motto {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 150%;
    max-width: 460px;
    margin: 0 0 56px; }
  .header-introduction__btn {
    cursor: pointer;
    width: 226px;
    height: 50px;
    border-radius: 64px;
    background-color: #ff9c8e;
    border: none;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
    .header-introduction__btn:hover {
      background-color: #ff7c6e; }
    .header-introduction__btn:focus {
      outline: none;
      border: 1px solid #fff; }

.header-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 40vw;
  height: 80vh;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 250px; }
  .header-slider__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1;
    width: 72px;
    bottom: 66px;
    left: 48px; }

.slider-list__image {
  border-top-left-radius: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 40vw;
  height: 80vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }

.slider-list__title {
  position: absolute;
  z-index: 1;
  bottom: 96px;
  left: 144px;
  font-family: "Poppins-bold", sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0; }

.slider-list__text {
  position: absolute;
  z-index: 1;
  bottom: 48px;
  left: 144px;
  max-width: 264px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0; }

.slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%; }
  .slider-block__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 24px; }

.btn-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  width: 32px;
  background-color: #fff;
  border-radius: 50%; }
  .btn-slider:hover {
    border: 1px solid #253757;
    border-radius: 50%;
    background-color: #dedede; }
  .btn-slider:first-child {
    margin-right: 8px; }
  .btn-slider__arrow {
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: inline-block; }
    .btn-slider__arrow--left {
      background-image: url("../images/slider/vector-left.svg"); }
    .btn-slider__arrow--right {
      background-image: url("../images/slider/vector-right.svg"); }

.intro-slider__title {
  font-family: "Poppins-bold", sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0 0 8px; }

.intro-slider__info {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 264px;
  margin: 0; }

@media (max-width: 1050px) {
  .header {
    border-bottom-left-radius: 0; } }

@media (max-width: 850px) {
  .header--opened .header-block {
    -webkit-transform: translateX(700px);
            transform: translateX(700px); } }

@media (max-width: 500px) {
  .header-block {
    margin-top: 100px; }
  .header-introduction__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    margin: 0 0 42px; }
  .header-introduction__motto {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 150%;
    max-width: 460px;
    margin: 0 0 56px; } }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-nav__logo {
    margin-right: 64px;
    display: inline-block;
    vertical-align: middle; }
  .header-nav__link {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 150px;
    letter-spacing: 3px;
    position: relative;
    outline: none; }
    .header-nav__link:focus::after {
      content: "";
      position: absolute;
      bottom: 50px;
      width: 43%;
      height: 2px;
      background-color: #ff7c6e;
      border-radius: 4px;
      opacity: 1;
      display: block; }
    .header-nav__link--active {
      line-height: 50px;
      font-size: 13px;
      font-family: "Poppins-bold", sans-serif;
      -webkit-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out; }
    .header-nav__link--active::after {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
      -webkit-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out; }
    .header-nav__link--active:hover::after, .header-nav__link--active:focus::after {
      content: "";
      position: absolute;
      top: 50px;
      width: 100%;
      height: 2px;
      background-color: #ff7c6e;
      border-radius: 4px;
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
      display: block;
      outline: none; }

.nav {
  font-family: "Poppins-bold", sans-serif;
  font-size: 13px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    height: 80px; }
  .nav__item {
    margin-right: 64px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px; }
    .nav__item:hover {
      color: #dedede; }
  .nav__link {
    line-height: 50px;
    position: relative;
    outline: none; }
    .nav__link:focus::after {
      content: "";
      position: absolute;
      top: 30px;
      width: 100%;
      height: 2px;
      background-color: #ff7c6e;
      border-radius: 4px;
      opacity: 1;
      display: block; }

@media (max-width: 1050px) {
  .nav__item {
    margin-right: 32px; } }

@media (max-width: 850px) {
  .nav__item {
    margin-right: 14px; }
  .header .nav__list {
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-550%);
            transform: translateX(-550%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }
  .header .nav__item:not(:last-child) {
    margin-bottom: 40px; }
  .header .nav__link {
    font-size: 32px; }
  .header-nav__link--active {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    bottom: 80px;
    font-size: 32px;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }
  .header--opened .nav__list {
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header--opened .nav__link {
    font-size: 32px; }
  .header--opened .header-nav__link--active {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .header-nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0; }
  .header-nav {
    padding: 0 30px; }
    .header-nav__link:not(.header-nav__link--active) {
      height: 75px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .hamburger-block__item {
    width: 18px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in; }
  .hamburger-block__item:not(:last-child) {
    margin-bottom: 4px; }
  .hamburger-block--opened .hamburger-block__item:nth-child(2) {
    opacity: 0; }
  .hamburger-block--opened .hamburger-block__item:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .hamburger-block--opened .hamburger-block__item:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .header-slider {
    display: none; }
  .header-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-introduction {
    margin: 120px auto;
    text-align: center; } }

@media (max-width: 500px) {
  .header-nav .nav__link {
    font-size: 20px;
    white-space: nowrap; }
  .header-nav__link--active {
    font-size: 20px; }
  .footer__nav .nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (max-height: 650px) {
  .header .nav__item:not(:last-child) {
    margin-bottom: 25px; }
  .header-nav__link--active {
    bottom: 40px; } }

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 148px 0; }
  .welcome__wrapper {
    margin: 0 auto;
    height: 210px;
    width: 754px; }
  .welcome__title {
    font-size: 32px;
    font-family: "Poppins-Semibold", sans-serif;
    margin: 0 0 16px; }
  .welcome__text {
    font-size: 24px;
    line-height: 150%;
    font-family: "Open Sans-semi", sans-serif;
    color: #6c788b;
    margin: 0; }

@media (max-width: 850px) {
  .welcome {
    text-align: center; }
    .welcome__wrapper {
      margin: 0;
      padding: 0 20px; } }

@media (max-width: 700px) {
  .welcome__title {
    font-size: 24px; }
  .welcome__text {
    font-size: 18px; } }

@media (max-width: 500px) {
  .welcome {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 30px; }
    .welcome__title {
      font-size: 32px; }
    .welcome__text {
      font-size: 20px; } }

.expertise {
  width: 100%;
  background-color: #fff;
  padding: 130px 0; }
  .expertise__wrapper {
    max-width: 1146px;
    margin: 0 auto; }
  .expertise__title {
    text-align: center;
    font-size: 52px;
    font-family: "Open Sans-semi", sans-serif;
    margin: 0 0 64px; }

.expertise-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .expertise-box__card {
    width: 264px;
    text-align: center;
    margin: 15px; }
  .expertise-box__image {
    margin-bottom: 40px;
    border-radius: 24px; }
  .expertise-box__title {
    font-family: "Poppins-Semibold", sans-serif;
    margin: 0 0 16px;
    font-size: 20px; }
  .expertise-box__description {
    font-size: 14px;
    color: #6c788b;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    line-height: 150%; }

@media (max-width: 1050px) {
  .expertise {
    padding: 50px 0; }
  .expertise-box__card {
    margin: 5px; } }

@media (max-width: 850px) {
  .expertise__title {
    font-size: 40px; }
  .expertise-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (max-width: 700px) {
  .expertise__title {
    font-size: 32px; } }

.process {
  padding-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .process__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 1146px;
    padding: 40px 20px; }

.process-box {
  max-width: 362px; }
  .process-box__process {
    font-family: "Poppins-bold", sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin: 0 0 16px; }
  .process-box__title {
    font-family: "Poppins-Semibold", sans-serif;
    color: #253757;
    font-size: 32px;
    margin: 0 0 24px; }
  .process-box__text {
    font-family: "Open Sans", sans-serif;
    color: #6c788b;
    font-size: 14px;
    line-height: 150%; }

.offer-box {
  max-width: 560px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 264px);
  grid-gap: 30px; }
  .offer-box__offers {
    background-color: #fff;
    border-radius: 24px;
    padding: 32px; }
  .offer-box__offers:nth-child(1), .offer-box__offers:nth-child(3) {
    -webkit-transform: translateY(148px);
            transform: translateY(148px); }
  .offer-box__number {
    width: 46px;
    border-radius: 23px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-family: "Poppins-Semibold", sans-serif;
    margin: 0 0 24px; }
    .offer-box__number--001 {
      background: rgba(86, 204, 242, 0.1);
      color: #56ccf2; }
    .offer-box__number--002 {
      background: rgba(252, 201, 29, 0.1);
      color: #fcc91d; }
    .offer-box__number--003 {
      background: rgba(21, 216, 80, 0.1);
      color: #15d850; }
    .offer-box__number--004 {
      background: rgba(243, 99, 99, 0.1);
      color: #f36363; }
  .offer-box__description {
    font-size: 13px;
    color: #6c788b;
    line-height: 150%;
    margin: 0 0 32px;
    font-family: "Open Sans-semi", sans-serif; }
  .offer-box__more {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-property: width, border-radius;
    transition-property: width, border-radius;
    outline: none; }
    .offer-box__more:focus {
      border: 1px solid #334563; }
    .offer-box__more::before {
      content: "";
      position: absolute;
      background-image: url("../images/process/learn-more-arrow.svg");
      height: 16px;
      width: 16px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .offer-box__more::after {
      content: "Learn more";
      position: absolute;
      font-family: "Poppins-Semibold", sans-serif;
      white-space: nowrap;
      top: 50%;
      left: 56px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      color: #334563; }
    .offer-box__more:hover {
      width: 100%;
      border-radius: 20px; }
      .offer-box__more:hover::before {
        background-image: none; }
      .offer-box__more:hover::after {
        color: #fff; }
    .offer-box__more--1 {
      background: #56ccf2; }
    .offer-box__more--2 {
      background: #fcc91d; }
    .offer-box__more--3 {
      background: #15d850; }
    .offer-box__more--4 {
      background: #f36363; }

@media (max-width: 1050px) {
  .process {
    padding-top: 0; }
    .process__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 50px; }
  .process-box {
    max-width: 100%;
    margin-bottom: 50px; }
  .offer-box__offers:nth-child(1), .offer-box__offers:nth-child(3) {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@media (max-width: 850px) {
  .process-box__process, .process-box__title, .process-box__text {
    text-align: center; } }

@media (max-width: 720px) {
  .offer-box {
    grid-template-columns: repeat(1, 264px); } }

@media (max-width: 700px) {
  .process-box {
    margin-bottom: 50px; }
    .process-box__title {
      font-size: 32px; } }

.approach {
  position: relative;
  z-index: -1; }
  .approach__wrapper {
    background-color: #ff9c8e;
    margin-left: 120px;
    border-bottom-left-radius: 300px;
    border-top-left-radius: 300px;
    padding: 204px 0 204px 204px; }
  .approach__image {
    width: 35vw;
    height: 680px;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    border-top-left-radius: 200px;
    bottom: 0;
    right: 0; }

.approach-block {
  color: #fff; }
  .approach-block__approach {
    font-family: "Poppins-bold", sans-serif;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 16px; }
  .approach-block__title {
    font-family: "Poppins-Semibold", sans-serif;
    font-size: 32px;
    line-height: 150%;
    margin: 0 0 32px; }

.approach-sub-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .approach-sub-block__circle {
    display: inline-block;
    min-width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 34px;
    position: relative; }
  .approach-sub-block__image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .approach-sub-block__text {
    max-width: 264px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px; }

.approach-sub-block:not(:last-child) {
  margin-bottom: 64px; }

@media (max-width: 1200px) {
  .approach__wrapper {
    margin: 0 auto; } }

@media (max-width: 1050px) {
  .approach__wrapper {
    margin: 0 auto;
    padding: 100px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }
  .approach__image {
    display: none; }
  .approach-block {
    width: 50%;
    margin: 0 auto; } }

@media (max-width: 850px) {
  .approach__wrapper {
    padding: 40px; }
  .approach-block {
    width: 100%;
    text-align: center; }
  .approach-sub-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (max-width: 850px) {
  .approach__wrapper {
    padding: 60px 10px; } }

@media (max-width: 700px) {
  .approach-sub-block__circle {
    margin-right: 15px; }
  .approach-block__title {
    font-size: 32px; } }

.testimonials__wrapper {
  max-width: 1146px;
  margin: 0 auto;
  padding: 150px 20px; }

.testimonials__testimonials {
  font-family: "Poppins-bold", sans-serif;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  color: #c0cdd7;
  text-transform: uppercase;
  margin: 0 0 16px; }

.testimonials__title {
  font-family: "Poppins-Semibold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  margin: 0 0 85px; }

.testimonials-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.testimonials-card {
  margin: 10px;
  padding: 32px;
  width: 314px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px; }
  .testimonials-card__photo-block {
    width: 250px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 27px; }
  .testimonials-card__image {
    border-radius: 50%;
    position: relative;
    z-index: 1; }
  .testimonials-card__decoration-blue {
    height: 139px;
    width: 55px;
    border-radius: 500px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
  .testimonials-card__decoration-yellow {
    height: 139px;
    width: 55px;
    border-radius: 500px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
  .testimonials-card__decoration-red {
    height: 139px;
    width: 55px;
    border-radius: 500px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .testimonials-card__decoration-blue:first-child, .testimonials-card__decoration-yellow:first-child, .testimonials-card__decoration-red:first-child {
    -webkit-transform: translate(50px, -50px) rotate(30deg);
            transform: translate(50px, -50px) rotate(30deg); }
  .testimonials-card__decoration-blue:last-child, .testimonials-card__decoration-yellow:last-child, .testimonials-card__decoration-red:last-child {
    -webkit-transform: translate(-50px, 50px) rotate(30deg);
            transform: translate(-50px, 50px) rotate(30deg); }
  .testimonials-card__feedback {
    font-family: "Open Sans-semi", sans-serif;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin: 0 0 16px; }
  .testimonials-card__name {
    font-family: "Open Sans-semi", sans-serif;
    font-size: 13px;
    line-height: 150%;
    margin: 0 0 4px; }
  .testimonials-card__workplace {
    font-family: "Poppins-bold", sans-serif;
    margin: 0;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }

@media (max-width: 1050px) {
  .testimonials__wrapper {
    padding: 50px 20px;
    text-align: center; }
  .testimonials__testimonials {
    margin: 0 0 20px; }
  .testimonials__title {
    margin: 0 0 40px; }
  .testimonials-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (max-width: 700px) {
  .testimonials__title {
    margin-bottom: 32px; } }

.vision {
  background-color: #fff;
  padding: 200px 0;
  position: relative; }
  .vision__block {
    max-width: 50%;
    margin: 0 auto;
    text-align: center; }
  .vision__title {
    position: relative;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    font-family: "Poppins-Semibold", sans-serif;
    margin: 0 0 24px;
    z-index: 1; }
  .vision__text {
    position: relative;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b;
    font-family: "Open Sans-semi", sans-serif;
    margin: 0 0 64px;
    z-index: 1; }
  .vision__btn {
    cursor: pointer;
    position: relative;
    background: #ff9c8e;
    font-family: "Poppins-Semibold", sans-serif;
    width: 226px;
    border: none;
    outline: none;
    border-radius: 64px;
    height: 56px;
    color: #fff;
    z-index: 1;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
    .vision__btn:focus {
      outline: none;
      border: 1px solid #000; }
    .vision__btn:hover {
      background-color: #ff7c6e; }
  .vision__oval:nth-child(2) {
    position: absolute;
    width: 85px;
    height: 34px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 3px solid #ff9c8e;
    background-color: transparent;
    opacity: 0.8;
    top: 92px;
    left: 253px; }
  .vision__oval:nth-child(3) {
    position: absolute;
    width: 45px;
    height: 18px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 3px solid #fde285;
    background-color: transparent;
    opacity: 0.8;
    top: 92px;
    left: 466px; }
  .vision__oval:nth-child(4) {
    position: absolute;
    width: 67px;
    height: 26.8px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 4px solid #ace6f8;
    background-color: transparent;
    opacity: 0.8;
    top: 370px;
    left: 82px; }
  .vision__oval:nth-child(5) {
    position: absolute;
    width: 143px;
    height: 57.2px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 5px solid #82eaa1;
    background-color: transparent;
    opacity: 0.8;
    top: 283px;
    left: 269px; }
  .vision__oval:nth-child(6) {
    position: absolute;
    width: 45px;
    height: 18px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 5px solid #fde287;
    background-color: transparent;
    opacity: 0.8;
    top: 465px;
    left: 481px; }
  .vision__oval:nth-child(7) {
    position: absolute;
    width: 94px;
    height: 37.6px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 4px solid #de84fd;
    background-color: transparent;
    opacity: 0.8;
    top: 581px;
    left: 131px; }
  .vision__oval:nth-child(8) {
    position: absolute;
    width: 143px;
    height: 57.2px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 5px solid #82eaa1;
    background-color: transparent;
    opacity: 0.8;
    top: 131px;
    right: 215px; }
  .vision__oval:nth-child(9) {
    position: absolute;
    width: 54px;
    height: 21.6px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 5px solid #de84fd;
    background-color: transparent;
    opacity: 0.8;
    top: 110px;
    right: 111px; }
  .vision__oval:nth-child(10) {
    position: absolute;
    width: 87px;
    height: 34.8px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 3px solid #fde287;
    background-color: transparent;
    opacity: 0.8;
    top: 277px;
    right: 67px; }
  .vision__oval:nth-child(11) {
    position: absolute;
    width: 86px;
    height: 34.4px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 3px solid #ff9c8e;
    background-color: transparent;
    opacity: 0.8;
    top: 385px;
    right: 315px; }
  .vision__oval:nth-child(12) {
    position: absolute;
    width: 154px;
    height: 61.6px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 5px solid #ace6f8;
    background-color: transparent;
    opacity: 0.8;
    top: 413px;
    right: 143px; }
  .vision__oval:nth-child(13) {
    position: absolute;
    width: 45px;
    height: 18px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 500px;
    border: 3px solid #de84fd;
    background-color: transparent;
    opacity: 0.8;
    top: 514px;
    right: 552px; }

@media (max-width: 850px) {
  .vision__block {
    max-width: 80%; }
  .vision__title {
    font-size: 32px; }
  .vision__text {
    font-size: 18px; }
  .vision__oval {
    display: none; } }

.footer {
  background-color: #fff;
  color: #fff; }
  .footer__background {
    background-color: #008aff;
    border-top-right-radius: 300px; }
  .footer__wrapper {
    max-width: 1146px;
    height: 100%;
    margin: 0 auto;
    padding: 180px 20px;
    position: relative; }
  .footer__link {
    outline: none;
    position: relative; }
    .footer__link:focus::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #ff7c6e;
      border-radius: 4px;
      opacity: 1;
      display: block; }

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-content__form-title, .footer-content__contact-title {
    margin: 0 0 56px;
    font-size: 32px;
    line-height: 150%;
    font-family: "Poppins-Semibold", sans-serif; }
  .footer-content__contact {
    max-width: 360px; }
  .footer-content__call-us, .footer-content__visit-us, .footer-content__socials {
    font-family: "Poppins-bold", sans-serif;
    opacity: 0.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 19px;
    margin: 0 0 8px; }
  .footer-content__phone-number, .footer-content__address {
    font-family: "Open Sans-semi", sans-serif;
    font-size: 24px;
    line-height: 150%;
    margin: 0 0 48px; }
  .footer-content__icon-box {
    margin-top: 16px; }
  .footer-content__icon {
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
    .footer-content__icon:hover {
      opacity: 0.7; }
  .footer-content__link {
    outline: none; }
    .footer-content__link:focus {
      opacity: 0.7; }
  .footer-content__link:not(:last-child) {
    margin-right: 32px; }

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px; }
  .footer-form__input {
    padding-bottom: 17px;
    margin-bottom: 48px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: "Poppins-Semibold", sans-serif;
    font-size: 15px;
    color: #fff; }
    .footer-form__input::-webkit-input-placeholder {
      opacity: 0.7;
      color: #fff; }
    .footer-form__input::-moz-placeholder {
      opacity: 0.7;
      color: #fff; }
    .footer-form__input:-ms-input-placeholder {
      opacity: 0.7;
      color: #fff; }
    .footer-form__input::-ms-input-placeholder {
      opacity: 0.7;
      color: #fff; }
    .footer-form__input::placeholder {
      opacity: 0.7;
      color: #fff; }
    .footer-form__input:focus {
      border-bottom: 2px solid #fff; }
  .footer-form__message {
    margin-bottom: 80px; }
  .footer-form__btn {
    cursor: pointer;
    width: 226px;
    height: 56px;
    background: #ff9c8e;
    border-radius: 64px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #fff;
    font-family: "Poppins-Semibold", sans-serif;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
    .footer-form__btn:focus {
      outline: none;
      border: 1px solid #fff; }
    .footer-form__btn:hover {
      background-color: #ff7c6e; }

.footer__nav {
  width: calc(100% - 20px);
  position: absolute;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 1050px) {
  .footer-form {
    max-width: 400px; }
  .footer-content__contact {
    max-width: 275px; }
  .footer-content__item:first-child {
    margin-right: 50px; } }

@media (max-width: 700px) {
  .footer__background {
    border-top-right-radius: 0; }
  .footer-form {
    max-width: 100%; }
    .footer-form__btn {
      margin: 0 auto; }
  .footer__wrapper {
    padding: 40px 10px; }
  .footer-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer-content__item:first-child {
      margin: 0 0 40px;
      max-width: 80%; }
    .footer-content__item:last-child {
      text-align: center;
      margin-bottom: 50px; }
    .footer-content__form-title {
      text-align: center;
      font-size: 32px; }
    .footer-content .nav__item {
      margin-right: 20px; }
  .footer__nav {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

html {
  scroll-behavior: smooth; }

body {
  background: #f2f9ff;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding: 0; }

/*# sourceMappingURL=main.css.map */
